@if (command()) {
    <div class="command-container">
        @if (!isRunning() && !isWaiting()) {
            <div class="replay-btn" (click)="replay()">
                <span class="material-symbols-outlined replay-icon">autoplay</span>
                <div class="replay-text">REPLAY</div>
            </div>
        }

        @if (!isWaiting()) {
            <div class="command-script">
                <span class="tilde"> ~ </span>
                <span>{{ command()?.value }}</span>
            </div>
        }

        <div class="command-result" [ngClass]="commandClass()" #command_result>
            @if (lines().length > 0) {
                <div class="command-lines" >
                    @for (line of lines(); track $index) {
                        <span class="command-line">{{ line }}</span>
                    }
                </div>
            }
            @if (errorLines().length > 0) {
                <div class="command-lines">
                    @for (line of errorLines(); track $index) {
                        <span class="command-line">{{ line }}</span>
                    }
                </div>
            }

            @if (duration()) {
                <div class="duration" >
                    <span class="material-symbols-outlined duration-icon">schedule</span>
                    <span class="duration-value">  {{ duration() }} seconds </span>
                </div>
            }

        </div>

        <div class="bottom-spaced">
            @if (isRunning()) {
                <div class="kill-instructions">
                    <span class="msg"> Kill Process  </span>
                    <span class="btn">
                    <span class="material-symbols-outlined cmd-key">keyboard_control_key</span>
                </span>

                    <span class="k-letter btn">C</span>
                </div>
                <div class="loader"></div>
            }
        </div>

    </div>


} @else {
    <div class="empty-command">
        <div class="empty-message">
            <span class="material-symbols-outlined not-found-icon"> search_off</span>
            <span class="not-found-msg">No running command ...</span>
        </div>
        <div class="commands-palette">

        </div>

    </div>
}
