<div data-tauri-drag-region class="titlebar">

    <div class="titlebar-button-container">

        <div class="titlebar-button"  [ngClass]="activeBtnClass()" id="titlebar-minimize"
        (click)="hideView()">
            <span class="material-symbols-outlined icon">remove</span>
        </div>


    </div>

    <div class="app-icon-container">
        <img src="assets/icon.png" class="app-icon" alt="app icon">
    </div>

    <div class="tabs-container">
        @for (tab of appStore.tabs(); track tab.id) {
            <app-tab-header [tab]="tab"/>
        }
    </div>

</div>
