.titlebar {
    height: var(--title-bar-height);
    background: var(--title-bar-color);
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 0 12px;
}

.titlebar-button-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.4);
    user-select: none;
    -webkit-user-select: none;

    .icon {
        color: black;
        scale: 0.6;
        opacity: 0;
        cursor: default;
    }
}

.active {
    background-color: var(--btn-yellow);
}

.active:hover {
    .icon {
        opacity: 1;
    }
}

.tabs-container {
    display: flex;
    margin-left:10px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.app-icon-container {
    height:  calc(var(--title-bar-height) - 2px);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 6px;
    margin-left: 15px;

    border-radius: 4px;
    box-shadow:  0 1px 3px rgba(34, 34, 34, 0.37), 0 1px 2px rgba(0, 0, 0, 0.45);
}
.app-icon {
    scale: 0.8;

}