.tab {

    color: grey;

    display: flex;
    width: 250px;

    height: var(--title-bar-height);
    justify-content: space-between;
    align-items: center;


    cursor: default;
}

.tab-label {
    width: 150px;
    height: 25px;

    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.inactive-tab:hover {
    cursor: pointer;
    background-color: var(--thin-line-color);
    border: none;
    height: calc(var(--title-bar-height) + 2px);
}

.active-tab {
    color:  var(--text-color);
    border-bottom: 2px solid var(--ternary-color);
}

.close-btn {

    color: grey;
    scale: 0.8;
}

.close-btn:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.script_icon {

    margin-right: 4px;
    font-size: 12px;
}


.term-icon {
    scale: 0.7;
    opacity: 0.5;
}